fastapi[all]
pydantic
psycopg2-binary
SQLAlchemy
email-validator
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
alembic
pydantic_settings
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-sdk
opentelemetry-instrumentation-requests
requests
opentelemetry-exporter-otlp
opentelemetry-api
