fastapi[all]==0.135.1
pydantic==2.12.5
psycopg2-binary==2.9.11
SQLAlchemy==2.0.47
email-validator==2.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.2.1
PyJWT==2.11.0
python-multipart==0.0.22
alembic==1.18.4
pydantic_settings==2.13.1
opentelemetry-instrumentation-fastapi>=0.60b1
opentelemetry-instrumentation-sqlalchemy>=0.60b1
opentelemetry-sdk==1.39.1
opentelemetry-instrumentation-requests>=0.60b1
requests==2.32.5
opentelemetry-exporter-otlp==1.39.1
opentelemetry-api==1.39.1
