/.bundle
/.env*
!/.env*.example
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/config/master.key
/config/credentials/*.key
/node_modules
/.idea
/.vscode
*.swp
*.swo
*~
.DS_Store
/coverage
.rubocop-*
/tmp/cache/bootsnap*
